<main class="">
    <h1 class="d-flex justify-content-center">Tech Blog Posts</h1>
    <div class="row">
        {{#each posts}}
        <div class="col-md-3 m-4">
            <div class="card">
                <div class="card-header d-flex justify-content-center">
                    <h2 class="card-title"></h2>
                    <a href="/post/{{id}}" class="title btn text-dark">{{title}}</a>
                </div>

                <div class="card-body text-dark">
                    <p>{{content}}</p>
                    <p>Created By: {{user.username}} at Date: {{format_date createdAt}}</p>
                </div>
            </div>

        </div>
        {{/each}}
    </div>
</main>